.event-wrapper {
  padding: 5px;
  width: 100%;
  margin: 20px auto;
}
.event-columns {
  display: flex;
  flex-flow: row wrap;
  justify-content:stretch;
  margin: 5px 0;
}

.event-column {
cursor: pointer;
  flex: 1;
  padding: 10px;
}
.event-column:first-child{
  max-width: 30%;
  border-right: 1px solid gray;
  
}
.event-column:last-child {
  margin-right: 1rem;
  margin-left:2rem;
  border-right: 0px;

}
.category-title{
  font-weight: bold;
  font-size:2.5rem;
}
.event-register-button{
    background-color: #0EF37F;
    color:#0e0e0e;
    text-align: center;
    padding: 1.2rem;
    font-size: 1.5rem;
    max-width: 20rem;
    margin: auto;
}
::-webkit-scrollbar {
  width: 1px;
}
@media screen and (max-width: 980px) {
  
.event-column:first-child{
  max-width: 100%;
}
    .event-columns .event-column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
  .event-columns .event-column:nth-last-child(2) {
    margin-right: 0;
  }
  .event-columns .event-column:last-child {
    flex-basis: 100%;
    margin:2rem;
  }
}
@media screen and (max-width: 680px) {

.event-column:first-child{
  max-width: 100%;
  
}
.body{
  font-size: 1.3rem;
}

.category-title{
  font-size: 2rem;
  
}



  .event-columns .event-column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}
