.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;

    
  }
  .timeline-wrapper{
    width:100%;
    background: transparent;
    left:0;
    margin-top:4rem;
  }
  ul{
    overflow-x: scroll;
    scrollbar-width: none;
    overflow-y: hidden;
    white-space:nowrap
  }
  .li {
    transition: all 200ms ease-in;
    min-width:20rem;
    cursor: pointer;
  }
  
  .timestamp {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 50;
    
  }
  
  .status {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
    
  }

  .status h6 {
    margin-top:2rem;
    display: inline;
    font-size:1rem;
    font-weight: 600;
  }
  .status:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
  }
  .timeline-image{
      width:8rem;
        height:8rem;
      
  }
  .li.complete .status {
    border-top: 2px solid #66DC71;
    
  }
  .li.complete .status:before {
    background-color: #66DC71;
    border: none;
    transition: all 200ms ease-in;
  }
  .li.complete .status h4 {
    color: #66DC71;
  }


  